

.topnav {
    overflow: hidden;
    background-color:#1d048a;
    background-image: url("black.jpg");
  }
  
  .topnav a {
    float: right;
    color: #eba352;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
  }
  .topnav b {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #b80770;
    color: #eba352;
  }
  
  .topnav a.active {
    background-color: #b80770;
    color: #eba352;
  }
  
  
  .centered {
    position: absolute;
    top: 300px;
    left: 110px;
    color: black;
    text-align: center;
    font-size: 18px;
   
  }
  
  .centertxt {
    position: absolute;
    top: 440px;
    right: 280px;
    color: #00000e;
    text-align: center;
    font-size: 18px;
   
  }

  
  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 700px;
    overflow: hidden;
    background-image: url("white.jpg");/* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    background-color: #f1f1f1;
  }

  * {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 40px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.center1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
     
  }

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  width: 50%;
}


/* Float cancel and signup buttons and add an equal width */


/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
  align-items: center;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn{
    width: 100%;
  }
}
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "&#10004;";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "&#10006;";
}